.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  opacity: 0;
  pointer-events: none;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal-content.active {
    transform: scale(1);
}

.modal-content {
  padding: 25px;
  border-radius: 10px;
  background-color: #fff;
  width: 50vw;
  height: 450px;
  color: black;
  transform: scale(0.5);
  transition: 0.4s all;
}

.divers{
  margin-right: 550px;
  width: 50vw;
}